*{
    padding:0;
    margin: 0;
    list-style: none;
    color: white;
}
html,body{
    width: 100%;
    height:100%;
    overflow: hidden;
}
body{
    background: url("../images/2.jpg");
    background-size: cover;
}
.music{
    width: 100%;
    height:100%;
    margin-top: -20px;
    background: rgba(0,0,0,0.6);
}
.audio{
    display: none;
}
.top{
    width: 600px;
    height: auto;
    margin:20px auto;
    font-size: 16px;
    color: aliceblue;
    text-align: center;
}
.top>.song{
    font-size: 20px;
}
.top>.singer{
    font-size: 18px;
}
.top>.lyrics{
    max-height: 450px;
    overflow: hidden;
}
.top>.lyrics>li{
    padding:10px;
}
.bottom{
    width: 100%;
    height:100px;
    background: rgba(0,0,0,0.4);
}
.bottom>.content{
    width: 1000px;
    height: 100%;
    margin:0 auto;
    /*background: rgba(229,157,112,0.2);*/

}
.bottom>.content>.left{
    width: 150px;
    float: left;
}
.bottom>.content>.left>i{
    display: inline-block;
    font-size: 30px;
    color: #fff;
    margin: 35px 5px;
    line-height: 30px;
}
.bottom>.content>.left>i:nth-child(2){
    font-size: 40px;
}
.bottom>.content>.middle{
    width: 650px;
    margin: 0 25px;
    float: left;
}
.bottom .middle img{
    width: 80px;
    height:80px;
    border-radius: 50%;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}
.bottom .middle .mTop{
    margin-top: 20px;
}
.bottom .middle .mBottom{
    margin-top: 10px;
}
.bottom .middle .mBottom .progress{
    width: 400px;
    height:10px;
    display: inline-block;
    position: relative;
    background: #fff;
    border-radius: 5px;
}
.bottom .middle .mBottom .progress .percent{
    width: 0px;
    height:10px;
    display: inline-block;
    position: absolute;
    background: #715A44;
    border-radius: 5px;
}
.bottom>.content>.right{
    width: 150px;
    float: right;
    padding-top: 40px;
}
.bottom>.content>.right>i{
    font-size: 20px;
    float: left;
}
.sp{
    color: #D3A676;
    font-size: 20px;
}
.bottom>.content>.right>.volum{
    width: 100px;
    height: 5px;
    background: #fff;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 5px;
    position: relative;
}
.volum>.volumC{
    width: 0;
    height:5px;
    background: #715A44;
    border-radius: 5px;
    position: absolute;
}
.volum>.volumBtn{
    width: 10px;
    height:10px;
    border-radius: 50%;
    background: #715A44;
    position: absolute;
    top:-2px;
    left: 0;
    cursor: pointer;
}
